<!DOCTYPE html>
<html>
    <style>
        #image{
            height: 300px;
            width: 300px;
            border-radius: 25px; 
            box-shadow: 2px 2px 7px black;
        }
    </style>
    <body>
        <img id="image" src="photoCat.jpeg" />
    </body>
</html>